<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title trackName
    body
        h1 Please enter your name
        h2 myname:#{name}
    form(action='/trackName' method='post')
        label please enter your name:
            input(type='text' name='username')
        button(type='submit') Submit